
<div _ngcontent-wxf-c0="" _nghost-wxf-c1="">
  <nav _ngcontent-wxf-c1="" class="navbar">

    <div _ngcontent-wxf-c1="" class="container">

      <div _ngcontent-wxf-c1="" class="navbar-brand">

        <a _ngcontent-wxf-c1="" class="navbar-item" href="http://localhost:4200/#/home" target="_blank">

          <img _ngcontent-wxf-c1="" class="navbar-logo" src="assets/images/logo.svg?v=1">

        </a>




        <div _ngcontent-wxf-c1="" class="flex-spacer"></div>

        <a _ngcontent-wxf-c1="" class="navbar-item navbar-nav-link" href="https://github.com" target="_blank">
          <img _ngcontent-wxf-c1="" class="navbar-github-logo" src="/assets/images/github-menu-item.svg?v=1">&nbsp;
          <!---->GitHub
        </a>

      </div>

    </div>

  </nav>

  <div _ngcontent-wxf-c1="" class="sub-nav">

  </div>
</div>
