.navbar[_ngcontent-wxf-c1] {
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.25);
}
.container {
  max-width: 1152px;
  width: 1152px;
}

.navbar > .container .navbar-brand .navbar-item .navbar-logo {
  width: 100px;
}

.flex-spacer {
  flex-grow: 1;
}
.flex-spacer {
  flex-grow: 1;
}

.navbar > .container .navbar-brand .navbar-item ~ a {
  color: #3b4d96;
}

.navbar > .container .navbar-brand .navbar-item {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
}

.navbar>.container .navbar-brand .navbar-item~a {
  color: #3b4d96;
}

.navbar > .container .navbar-brand {
  align-items: stretch;
  flex-shrink: 0;
  min-height: 3.25rem;
  width: 100%;
  display: flex;
}

.navbar > .container .navbar-brand {
  margin-left: 200px;
}

.navbar>.container .navbar-brand {
  align-items: stretch;
  flex-shrink: 0;
  min-height: 3.25rem;
  width: 100%;
  display: flex;
}
.navbar > .container .navbar-brand .navbar-item {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
}

.navbar-brand {
  align-items: stretch;
  flex-shrink: 0;
  min-height: 3.25rem;
  width: 100%;
  display: flex;
}

.navbar {
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.25);
}

.navbar > .container .navbar-brand  .navbar-github {
  width: 20px;
}

.navbar>.container .navbar-brand .navbar-item {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
}

.login-button-container {
  float: right;
  align-self: center;
}

.login-button {
  background-color: rgba(0,0,0,.04);
  border-color: rgba(0,0,0,.04);
  height: 35px;
  width: 90px;
}

.navbar > .container .navbar-brand .navbar-github {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
}
.flex-spacer {
  flex-grow: 1;
}

.header-menu-button {
  align-self: center;
}
