<div>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://localhost:4200/#/home" target="_blank">
          <img src="../../../assets/images/tmd-logo.png" height="100">
        </a>
        <i class="fa fa-key" aria-hidden="true"></i>

        <div class="flex-spacer"></div>
        <div *ngIf="!isLoggedIn" class="login-button">
          <button (click)="login()">Login</button>
        </div>
        <div *ngIf="isLoggedIn" class="login-button">
          <button (click)="logout()">Logout</button>
        </div>

      </div>
    </div>
  </nav>
</div>
