<div class="home-search">
  <div class="search">
    <div class="search-form" fxlayout="" style="flex-direction: row; box-sizing: border-box; display: flex;">
      <form [formGroup]="searchForm" (ngSubmit)="searchButton()">
        <mat-form-field appearance="fill" class="mat-form-field ng-tns-c5-1 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-valid ng-touched full-width">
          <mat-label>Search</mat-label>
          <input matInput formControlName="query" style="width: 90%; float:left; ">
          <div class="mat-form-field-suffix ng-tns-c5-1 ng-star-inserted" style="width: 5%;float: right;">
            <mat-icon (click)="searchButton()" class="mat-icon notranslate mat-primary material-icons" color="primary" matsuffix="" role="img" aria-hidden="true">
              search
            </mat-icon>
          </div>
        </mat-form-field>
      </form>

    </div>
  </div>
</div>
