<table mat-table [dataSource]="tagList" multiTemplateDataRows class="mat-elevation-z8"
       style="width: 100%;">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Tag Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Dependency No Column -->
  <ng-container matColumnDef="deps">
    <th mat-header-cell *matHeaderCellDef> Dependency Number</th>
    <td mat-cell *matCellDef="let element"> {{element.dependencyTags.length}} </td>
  </ng-container>

  <!-- Template for details row -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="defaultColumns.length">
      <div class="dependency-container dependency-element-detail"
           [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">

        <div>
          <table *ngIf="dependencyTags && dependencyTags.length" mat-table [dataSource]="dependencyTags"
                 multiTemplateDataRows class="mat-elevation-z8" style="width: 100%;">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Dependency</th>
              <td mat-cell *matCellDef="let element"> {{element.dependencyRef.name}} </td>
            </ng-container>

            <!-- Provider Column -->
            <ng-container matColumnDef="provider">
              <th mat-header-cell *matHeaderCellDef> Provider</th>
              <td mat-cell *matCellDef="let element">
                <img
                  [src]="dependencyService.getImageForDependencyProvider(element.dependencyRef.provider)"
                  width="50px"
                  height="50px">
              </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions</th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <button *ngIf="!element.deprecated && !element.underReview && !element.rej" mat-mini-fab color="basic"
                          aria-label="Suggest to the Community"
                          matTooltip="Suggest to the Community"
                          (click)="createSuggestion(element)">
                    <mat-icon>public</mat-icon>
                  </button>
                  <button *ngIf="!element.deprecated && element.underReview" mat-mini-fab color="primary"
                          matTooltip="Likes">
                    <mat-icon>thumb_up</mat-icon>
                    {{element.likes}}
                  </button>
                  <button *ngIf="!element.deprecated && element.underReview" mat-mini-fab color="warn"
                          matTooltip="Dislikes">
                    <mat-icon>thumb_down</mat-icon>
                    {{element.dislikes}}
                  </button>
                </div>
              </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="warn"
                        aria-label="Delete tag"
                        matTooltip="Delete tag">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="dependencyColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: dependencyColumns;" class="tag-deprecated"
                [ngClass]="{'tag-deprecated': element.deprecated}"></tr>
          </table>
        </div>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="defaultColumns;sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: defaultColumns;" (click)="expandElement(element)"
      class="dependency-element-row"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="dependency-detail-row"></tr>
</table>
