<mat-nav-list>
<!--  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">-->
<!--    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>-->
<!--  </a>-->
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>search</mat-icon> <span class="nav-caption">Search Dependencies</span>
  </a>
  <a mat-list-item routerLink="/tags" (click)="onSidenavClose()">
    <mat-icon>label</mat-icon><span class="nav-caption">Tags</span>
  </a>
  <a mat-list-item routerLink="/suggestions" (click)="onSidenavClose()">
    <mat-icon>public</mat-icon><span class="nav-caption">Suggestions</span>
  </a>
</mat-nav-list>
