<mat-nav-list>
<!--  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">-->
<!--    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>-->
<!--  </a>-->
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>search</mat-icon> <span class="nav-caption">Search Dependencies</span>
  </a>
  <a mat-list-item routerLink="/view-tags" (click)="onSidenavClose()">
    <mat-icon>vpn_key</mat-icon><span class="nav-caption">View Private Tags</span>
  </a>
</mat-nav-list>
