<div style="display: flex; justify-content: center">
  <form>
    <mat-form-field>
      <mat-label>Query</mat-label>
      <input type="text" matInput
             (change)="queryChange($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</div>

<div *ngFor="let tag of dependencyTags">
  <mat-card class="tag-card">
    <mat-card-header>
      <div mat-card-avatar
           [ngStyle]="{'background-image': 'url('+ dependencyService.getImageForDependencyProvider(tag.dependencyRef.provider) + ')',
           'background-size': 'cover'}">
      </div>
      <mat-card-title>{{tag.tag}}</mat-card-title>
      <mat-card-subtitle>{{tag.dependencyRef.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button *ngIf="tag.vote !== 'like'" [disabled]="!keycloakService.getKeycloakInstance().authenticated" mat-stroked-button color="primary"
              matTooltip="Likes"
              (click)="like(tag)">
        <i class="material-icons-outlined">thumb_up</i>
        {{tag.likes}}
      </button>
      <button *ngIf="tag.vote === 'like'" [disabled]="!keycloakService.getKeycloakInstance().authenticated" mat-stroked-button color="primary"
              matTooltip="Likes" [ngClass]="{'tag-suggestion-voted': tag.vote === 'like'}"
              (click)="like(tag)">
        <i class="material-icons-round">thumb_up</i>
        {{tag.likes}}
      </button>
      <button *ngIf="tag.vote !== 'dislike'" [disabled]="!keycloakService.getKeycloakInstance().authenticated" mat-stroked-button color="warn"
              matTooltip="Dislikes"
              (click)="dislike(tag)">
        <i class="material-icons-outlined">thumb_down</i>
        {{tag.dislikes}}
      </button>
      <button *ngIf="tag.vote === 'dislike'" [disabled]="!keycloakService.getKeycloakInstance().authenticated" mat-stroked-button color="warn"
              matTooltip="Likes" [ngClass]="{'tag-suggestion-voted': tag.vote === 'dislike'}"
              (click)="dislike(tag)">
        <i class="material-icons-round">thumb_down</i>
        {{tag.dislikes}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
